a {
  color: #fff8ad;
  font-weight: 600;
  text-decoration: underline;
}

.image {
  display: block;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  border-radius: 261px;
  -webkit-filter: none;
  filter: none;
}

.hero-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

.team-bio-para {
  margin-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: Merriweather, serif;
  color: #05162c;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.button {
  display: block;
  margin-top: 0px;
  margin-right: 70px;
  margin-left: 70px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: transparent;
  background-image: none;
  font-family: Montserrat, sans-serif;
  color: #c3b59b;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  border-style: none;
  background-image: none;
  color: #000;
}

.button:active {
  box-shadow: none;
}

.fullscreen-section {
  margin-top: 0px;
  padding: 0px 2px 2px;
  border-style: none;
  border-color: #4b86ea;
  background-image: -webkit-linear-gradient(270deg, #f1f1f1, #f1f1f1);
  background-image: linear-gradient(180deg, #f1f1f1, #f1f1f1);
  font-family: 'Open Sans', sans-serif;
}

.footer-para {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: grey;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.navbar {
  padding: 3px 10px;
  background-color: transparent;
  background-image: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .2);
  font-family: Montserrat, sans-serif;
  color: rgba(51, 51, 51, 0);
}

.section-2-inside {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, .66);
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/book-bg.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/book-bg.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  color: #fff;
}

.section-3 {
  padding-top: 20px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, #e1dace, #e1dace);
  background-image: linear-gradient(180deg, #e1dace, #e1dace);
  font-family: Montserrat, sans-serif;
}

.container {
  display: block;
}

.heading-3 {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.heading-4 {
  padding-top: 110px;
  padding-bottom: 110px;
  border: 1px dotted #000;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/book-bg.jpg'), url('../images/Dow-Darwin.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/book-bg.jpg'), url('../images/Dow-Darwin.jpg');
  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-size: auto, 960px, auto;
}

.product-cards {
  padding: 40px 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: none;
  font-family: Merriweather, serif;
}

.home-hero-container1 {
  padding: 207px 70px;
  border: 1px none #0d2d64;
  border-radius: 0px;
  background-image: none;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
}

.nav-link {
  position: relative;
  top: 8px;
  display: block;
  font-family: Montserrat, sans-serif;
  color: #c3b59b;
  line-height: 16px;
  font-weight: 400;
}

.text-links {
  display: block;
  color: #ffaf31;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
}

.hero-para {
  padding-top: 10px;
  font-family: Merriweather, serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 3em;
  column-gap: 3em;
}

.header-logo {
  margin-right: auto;
  margin-bottom: -8px;
  margin-left: auto;
  padding-bottom: 0px;
}

.link-orange-footer {
  color: #fe9900;
  font-size: 14px;
  text-decoration: none;
}

.link-orange-footer:hover {
  color: #4a86e8;
}

.link-orange-footer.w--current {
  font-size: 14px;
}

.dropdown {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.dropdown-list {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.dropdown-list.w--open {
  padding: 20px 10px;
  background-image: -webkit-linear-gradient(270deg, #c3b59b, #c3b59b);
  background-image: linear-gradient(180deg, #c3b59b, #c3b59b);
  color: #fff;
}

.dropdown-link {
  border-bottom: 1px solid hsla(0, 0%, 100%, .15);
  color: #fff;
  font-weight: 400;
}

.dropdown-link:hover {
  color: grey;
}

.dropdown-link.w--current {
  color: #fff;
  font-weight: 400;
}

.div-block-6 {
  width: 115px;
}

.link-block {
  padding-left: 20px;
}

.link-block.w--current {
  padding-left: 20px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-block-2 {
  padding-bottom: 10px;
  padding-left: 10px;
}

.link-block-2.w--current {
  padding-left: 10px;
}

.nav-menu {
  background-color: #fff;
}

.div-block-11 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown-icon {
  position: absolute;
}

.home-hero-section1 {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.card-subheads-home {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link-text {
  color: #c3b59b;
}

.slide {
  background-image: -webkit-linear-gradient(270deg, rgba(5, 0, 0, .3), rgba(5, 0, 0, .3)), url('../images/home-banner-1.jpg');
  background-image: linear-gradient(180deg, rgba(5, 0, 0, .3), rgba(5, 0, 0, .3)), url('../images/home-banner-1.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 1440px;
}

.slider {
  height: 95vh;
}

.card-columns {
  padding: 2px;
}

.nav-link-2 {
  padding-top: 26px;
  padding-bottom: 10px;
  color: #c3b59b;
}

.nav-link-2.w--current {
  color: #58595b;
}

.slide-2 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/home-banner-2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/home-banner-2.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.downarrow-image {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 20px;
}

.slide-nav {
  display: none;
}

.right-arrow {
  display: none;
}

.icon-2 {
  display: none;
}

.icon-3 {
  display: none;
}

.see-all-product {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .44);
}

.down-arrow {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.slide-3 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/home-banner-3.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/home-banner-3.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.footer-para-2 {
  display: block;
  width: 100vw;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  float: none;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  color: #b8b8b8;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
}

.row-2 {
  padding-right: 40px;
  padding-left: 40px;
}

.image-5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  text-align: center;
}

.footer-para-3 {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
  font-family: Montserrat, sans-serif;
  color: grey;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.html-embed {
  display: block;
  padding-top: 10px;
  text-align: center;
}

.footer-column {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.div-block-12 {
  margin-top: 2px;
  padding-top: 80px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.page-h1 {
  padding: 20px 20px 10px;
  font-family: 'Playfair Display', sans-serif;
  color: #58595b;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.page-container {
  background-image: none;
  background-size: auto;
}

.body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.page-image {
  padding: 30px;
  border: 0px solid #c3b59b;
}

.page-para {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-family: Montserrat, sans-serif;
  color: dimgrey;
  font-weight: 300;
}

.home-h1 {
  margin-bottom: 2px;
  padding: 20px;
  background-color: #fff;
  font-family: 'Playfair Display', sans-serif;
  color: #58595b;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.page-h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 35px;
  font-family: 'Playfair Display', sans-serif;
  color: #58595b;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.why-list {
  display: none;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-bottom: 40px;
  color: dimgrey;
  font-weight: 300;
  text-align: center;
  list-style-type: none;
}

.list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.short-gold-divider {
  display: block;
  width: 198px;
  max-height: 198px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding-bottom: 5px;
  padding-left: 0px;
  border-width: 2px;
  border-color: #c3b59b;
  border-bottom-style: solid;
}

.column-para {
  margin-right: 2px;
  margin-left: 2px;
  padding: 10px;
  color: dimgrey;
  font-weight: 300;
  text-align: center;
}

.page-row {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: none;
}

.row-image {
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}

.row-div {
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 41px 40px 70px;
  background-image: -webkit-linear-gradient(270deg, #f5f5f5, #f5f5f5);
  background-image: linear-gradient(180deg, #f5f5f5, #f5f5f5);
}

.column-card {
  padding-top: 40px;
  padding-bottom: 40px;
  border: 2px solid #f5f5f5;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.contact-form {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 10px;
  border: 0px solid #c3b59b;
  font-family: Montserrat, sans-serif;
  color: dimgrey;
  font-weight: 300;
}

.form {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  color: dimgrey;
}

.submit-button {
  display: block;
  margin: 20px auto 1px;
  padding: 6px 30px;
  float: none;
  background-color: #c3b59b;
}

.field-label {
  padding-top: 10px;
  font-weight: 400;
}

.input-box {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: none;
  background-color: #f5f5f5;
}

.input-box-message {
  height: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: none;
  background-color: #f5f5f5;
}

.page-para-centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
  font-family: Montserrat, sans-serif;
  color: dimgrey;
  font-weight: 300;
  text-align: center;
}

.gold-bold {
  color: #c3b59b;
}

.page-section {
  padding-bottom: 40px;
}

.slider-content {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.product-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/office-furniture-banner.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/office-furniture-banner.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.right-arrow-2 {
  display: none;
}

.left-arrow {
  display: none;
}

.product-listing-section {
  display: block;
  margin-right: 2px;
  margin-left: 2px;
  border-bottom: 4px solid #f5f5f5;
  background-color: #f5f5f5;
  color: #58595b;
}

.product-header-para {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 300;
}

.product-page-h1 {
  display: block;
  width: 80%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px 10px;
  font-family: 'Playfair Display', sans-serif;
  color: #fff;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.image-6 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.product-description-para {
  padding-right: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.bold-text {
  text-transform: uppercase;
}

.product-column {
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 1px 2px 0px;
  border-color: #f5f5f5;
  background-color: #fff;
}

.product-row {
  margin: 2px 2px 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.product-header {
  padding-right: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.product-listing-div {
  display: block;
  width: 290px;
  padding: 20px;
  float: left;
}

.div-block-13 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.div-block-14 {
  margin: 34px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.product-row-div {
  border-style: solid;
  border-width: 1px 0px 0px;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}

.heading-5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  text-align: center;
}

.product-listing-h1 {
  padding: 0px 0px 10px 10px;
  font-family: 'Playfair Display', sans-serif;
  color: #58595b;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 991px) {
  .button {
    margin-right: 35px;
    margin-left: 35px;
    border-radius: 20px;
  }
  .navbar {
    position: relative;
  }
  .container {
    float: right;
  }
  .heading-3 {
    margin-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .nav-link {
    position: static;
  }
  .dropdown {
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: linear-gradient(180deg, #fff, #fff);
  }
  .icon {
    display: block;
    color: #05162c;
  }
  .nav-menu {
    background-image: none;
    color: #05162c;
  }
  .menu-button {
    display: block;
    float: right;
    color: hsla(0, 0%, 100%, 0);
  }
  .div-block-11 {
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  .button {
    margin-right: 90px;
    margin-left: 90px;
  }
  .heading-3 {
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .product-cards {
    padding-top: 0px;
    padding-right: 80px;
    padding-left: 80px;
  }
  .dropdown {
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: linear-gradient(180deg, #fff, #fff);
  }
  .div-block-11 {
    padding-top: 0px;
  }
  .html-embed {
    display: block;
  }
  .footer-column {
    display: block;
  }
}

@media (max-width: 479px) {
  .hero-header {
    font-size: 24px;
    line-height: 34px;
  }
  .team-bio-para {
    padding-right: 20px;
    padding-left: 20px;
  }
  .button {
    margin-right: 60px;
    margin-left: 60px;
  }
  .section-2-inside {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .container {
    position: static;
  }
  .heading-3 {
    margin-bottom: 0px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 28px;
  }
  .heading-4 {
    padding-bottom: 0px;
    font-size: 18px;
    line-height: 28px;
  }
  .product-cards {
    margin-bottom: 0px;
    padding: 10px 20px;
  }
  .hero-para {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .dropdown {
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: linear-gradient(180deg, #fff, #fff);
  }
  .link-block {
    padding-left: 20px;
  }
  .menu-button.w--open {
    position: relative;
    display: block;
  }
  .div-block-11 {
    padding-top: 0px;
  }
  .page-h1 {
    font-size: 28px;
  }
  .product-page-h1 {
    font-size: 28px;
  }
  .product-listing-h1 {
    font-size: 28px;
  }
}

